body {
  background-color: #EBECEE;
  font-family: "Poppins";
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 1em;
}
.cabecalho__container {
  display: flex;
  align-items: center;
}
.cabecalho__container--link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
.cabecalho__container--link--imagem {
  padding: 1em;
}
@media (min-width: 768px) {
  .cabecalho__container--link--imagem--transparente {
    display: none;
  }
}
.cabecalho__container--link--texto {
  display: none;
}
@media (min-width: 1200px) {
  .cabecalho__container--link--texto {
    display: block;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #000000;
  }
}
.cabecalho__container--imagem {
  padding: 1em;
}
.cabecalho__container--botao {
  display: none;
}
.cabecalho__container--botao:checked ~ .cabecalho__lista {
  display: block;
}
.cabecalho__container--botao:checked ~ .cabecalho__container--rotulo {
  background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
}
.cabecalho__container--botao:checked ~ .cabecalho__container--rotulo > .cabecalho__menu--hamburguer {
  background-image: url(../img/Menu\ Aberto.svg);
}
.cabecalho__menu--hamburguer {
  width: 24px;
  height: 24px;
  background-image: url(../img/Menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}
@media (min-width: 768px) {
  .cabecalho__menu--hamburguer {
    display: none;
  }
}
.cabecalho__lista {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #FFFFFF;
  width: 60vw;
}
.cabecalho__lista--titulo {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #EB9B00;
  padding: 1em;
}
.cabecalho__lista--item {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 1em;
}
.cabecalho__lista--item:hover {
  background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
}
.cabecalho__lista--item:hover > .cabecalho__lista--links {
  -webkit-text-fill-color: #FFFFFF;
}
.cabecalho__lista--links {
  background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-decoration: none;
  text-transform: uppercase;
}
.cabecalho__titulo {
  display: none;
}
@media (min-width: 768px) {
  .cabecalho__titulo {
    display: block;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    font-family: "Josefin Sans";
  }
}
.cabecalho__titulo--negrito {
  font-weight: 700;
}
.cabecalho__navegacao {
  display: none;
}
@media (min-width: 768px) {
  .cabecalho__navegacao {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .cabecalho__navegacao {
    margin-right: auto;
  }
}
.cabecalho__navegacao--item {
  padding: 1.5em 1em;
  text-transform: uppercase;
}
.cabecalho__navegacao--link {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}
.cabecalho__navegacao--input {
  display: none;
}
.cabecalho__navegacao--input:checked ~ .cabecalho__lista {
  display: block;
  width: auto;
}
.cabecalho__navegacao--input:checked ~ .cabecalho__navegacao--rotulo {
  background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
  color: #FFFFFF;
}

.banner {
  background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
  color: #FFFFFF;
  text-align: center;
  padding: 2em;
}
.banner__titulo {
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}
@media (min-width: 768px) {
  .banner__titulo {
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
  }
}
.banner__texto {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding: 0.8em 0;
}
.banner__pesquisa {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  background: transparent;
  color: #FFFFFF;
  width: 100%;
  padding: 0.8em 0 0.8em 0.8em;
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  margin: 0.5em 0;
}
@media (min-width: 768px) {
  .banner__pesquisa {
    width: 50%;
  }
}
.banner__pesquisa::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  padding: 1em;
  color: #FFFFFF;
  text-align: center;
  background: url("../img/Lupa.svg") no-repeat;
  background-position: 2.5em;
}
@media (min-width: 768px) {
  .banner__pesquisa::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    background-position: 3em;
  }
}

.carrossel__titulo {
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  color: #EB9B00;
  text-align: center;
  padding: 1em 0 0.5em 0;
  background-color: #FFFFFF;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .carrossel__titulo {
    font-size: 26px;
    font-weight: 700;
    line-height: 39px;
  }
}
@media (min-width: 1200px) {
  .carrossel__divisao {
    display: flex;
    align-items: center;
    margin: 3em 3em;
  }
}

@media (min-width: 768px) {
  .swiper {
    width: 70%;
  }
}
@media (min-width: 1200px) {
  .swiper {
    width: 50%;
  }
}
.swiper-pagination {
  position: initial;
  margin: 0.5em 0;
}
@media (min-width: 768px) {
  .swiper-pagination {
    margin: 1em 0 2em 0;
  }
}
@media (min-width: 1200px) {
  .swiper-pagination {
    margin: 1em 0;
  }
}
.swiper-slide img {
  width: 100%;
}
.swiper-button-prev, .swiper-button-next {
  display: none;
}
@media (min-width: 768px) {
  .swiper-button-prev, .swiper-button-next {
    display: block;
    top: 60%;
  }
}
.card {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 1em;
  padding: 0.5em;
}
@media (min-width: 768px) {
  .card {
    width: 50%;
    margin: 2em auto;
  }
}
@media (min-width: 1200px) {
  .card {
    margin-left: 2em;
  }
}
.card__descricao {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__estrela {
  padding: 0.5em 0 0 0;
}
.card__titulo {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #EB9B00;
  padding: 0.5em 0 0 0;
}
@media (min-width: 1200px) {
  .card__titulo {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
  }
}
.card__tituloPrincipal {
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  color: #002F52;
  padding: 0.5em 0;
}
.card__texto {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
  padding: 0 0.4em 0 0;
}
@media (min-width: 1200px) {
  .card__texto {
    font-size: 16px;
  }
}
.card__botoes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__botoes--lista {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__botoes--lista--item {
  padding: 0 1em;
}
.card__botoes--botao {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  background-color: #EB9B00;
  color: #FFFFFF;
  padding: 1em 2.2em;
  margin: 2em 0 1em 0;
  text-decoration: none;
  position: initial;
}

.topicos {
  background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
}
.topicos__titulo {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  padding: 1em 0;
}
@media (min-width: 768px) {
  .topicos__titulo {
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
  }
}
@media (min-width: 1200px) {
  .topicos__titulo {
    font-size: 32px;
    font-weight: 300;
    line-height: 48px;
  }
}
.topicos__lista {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .topicos__lista {
    width: 70%;
    margin: 0 auto;
  }
}
.topicos__lista--item {
  margin: 2em 0.5em 3em 0.5em;
}
.topicos__lista--link {
  color: #FFFFFF;
  text-decoration: none;
  background-color: #EB9B00;
  padding: 1em;
}
@media (min-width: 768px) {
  .topicos__lista--link {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
  }
}

.contato {
  background-color: #FFFFFF;
  padding: 1em;
}
@media (min-width: 768px) {
  .contato {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .contato__descricao {
    margin: 1em 0;
    width: 30%;
  }
}
.contato__titulo {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #002F52;
}
@media (min-width: 768px) {
  .contato__titulo {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
  }
}
.contato__texto {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #002F52;
}
@media (min-width: 768px) {
  .contato__texto {
    margin: 1em 0;
  }
}
.contato__cadastrar {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #002F52;
  width: 95%;
  padding: 0.8em 0 0.8em 0.8em;
  border: 1px solid #002F52;
  border-radius: 30px;
  margin: 0.5em 0;
}
@media (min-width: 768px) {
  .contato__cadastrar {
    width: 30%;
    margin-left: 2em;
  }
}
.contato__cadastrar::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #002F52;
  padding: 0 0 0 4em;
  text-align: left;
  background: url("../img/Vector.svg") no-repeat;
  background-position: 1.5em;
}

hr {
  margin: 0;
}

.rodape {
  padding: 1em;
  background-color: #F9F9F9;
}
@media (min-width: 768px) {
  .rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .rodape {
    padding: 3em 2em;
  }
}
.rodape__titulo {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  align-self: flex-start;
}
@media (min-width: 768px) {
  .rodape__titulo {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
  }
}
.rodape__coluna {
  display: none;
}
@media (min-width: 768px) {
  .rodape__coluna {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: flex-start;
  }
}
@media (min-width: 1200px) {
  .rodape__coluna {
    border-left: 1px solid #858585;
    padding-left: 1em;
  }
}
.rodape__coluna--titulo {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #858585;
  align-self: flex-start;
  text-transform: uppercase;
}
.rodape__coluna--lista--item {
  display: flex;
  justify-content: none;
  align-items: center;
  padding: 0.5em 0;
}
.rodape__coluna--lista--item--link {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-left: 0.6em;
  color: #474646;
  text-decoration: none;
}
.rodape__coluna--lista--transparente {
  visibility: hidden;
}

/*# sourceMappingURL=style.css.map */
