$cor-de-fundo: #EBECEE;
$cor-laranja: #EB9B00;
$cor-branco: #FFFFFF;
$cor-cinza-fundo-rodape: #F9F9F9;
$fonte-poppins: "Poppins";
$fonte-josefin: "Josefin Sans";
$azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
$azul: #002F52;
$preto: #000000;
$cinza: #858585;
$cinza-h4: #474646;


@mixin texto($size, $weight, $height) {
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
}

@mixin flex($espaço) {
    display: flex;
    justify-content: $espaço;
    align-items: center;
}

@mixin for-phone-only {
    @media (max-width: 768px) {@content}
};

@mixin for-tablet-only {
    @media (min-width: 768px) and (max-width: 1200px) {@content}
};

@mixin for-desktop-only {
    @media (min-width: 1200px) {@content}
};


body {
    background-color: $cor-de-fundo;
    font-family: $fonte-poppins;
}

.cabecalho {
    @include flex(space-between);
    position: relative;

    
    &__container {
        display: flex;
        align-items: center;


        &--imagem {
            padding: 1em;

            &--transparente {
                @include for-tablet-only() {
                    display: none;
                }
            }
        }

        &--botao {
            display: none;

            &:checked~.cabecalho__lista {
                display: block;
            }
        }
    }
    
    &__menu--hamburguer {
        width: 24px;
        height: 24px;
        background-image: url(../img/Menu.svg);
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;

        @include for-tablet-only {
            display: none;
        }
    }

    &__lista {
        display: none;
        position: absolute;
        top: 100%;
        background-color: $cor-branco;
        width: 60vw;


        &--titulo {
            @include texto(16px,700,24px);
            color: $cor-laranja;
            padding: 1em;
        }

        &--item {
            @include texto(16px,400,24px);
            padding: 1em;
        }

        &--links {
            background: $azul-degrade;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-decoration: none;
            text-transform: uppercase;
        }
    }

    &__titulo {
        display: none;
        @include for-tablet-only() {
            display: block;
            @include texto(30px,400,30px);
            font-family: $fonte-josefin
        }

        &--negrito {
            font-weight: 700;
        }
    }

    &__navegacao {
        display: none;
        @include for-tablet-only() {
            display: flex;
            align-items: center;
        }

        &--item {
            padding: 0 1em;
            text-transform: uppercase;
        }

        &--link {
            @include texto(16px,400,24px);
            text-decoration: none;
            color: $preto;
        }

        &--input {
            display: none;

            &:checked~.cabecalho__lista {
                display: block;
                width: auto;
            }
        }
    }


}

.banner {
    background: $azul-degrade;
    color: $cor-branco;
    text-align: center;
    padding: 2em;

    &__titulo {
        @include texto(18px,700,27px);

        @include for-tablet-only() {
            @include texto(36px,700,54px);
        }
    }

    &__texto {
        @include texto(16px,500,24px);
        padding: 0.8em 0;
    }

    &__pesquisa {
        @include texto(14px,400,21px);
        background: transparent;
        color: $cor-branco;
        width: 100%;
        padding: 0.8em 0 0.8em 0.8em;
        border: 1px solid $cor-branco;
        border-radius: 30px;
        margin: 0.5em 0;
        @include for-tablet-only() {
            width: 50%;
        }


        &::placeholder {
            @include texto(14px,400,21px);
            padding: 1em;
            color: $cor-branco;
            text-align: center;
            background: url("../img/Lupa.svg") no-repeat;
            background-position: 2.5em;
            @include for-tablet-only() {
                @include texto(16px,400,24px);
                background-position: 3em;
            }
        }
    }
}

.carrossel {

    &__titulo {
        @include texto(18px,700,27px);
        color: $cor-laranja;
        text-align: center;
        padding: 1em 0 .5em 0;
        background-color: $cor-branco;
        text-transform: uppercase;
        @include for-tablet-only() {
            @include texto(26px,700,39px);
        }
    }
}

.swiper {
    @include for-tablet-only() {
        width: 70%;
    }

    &-pagination {
        position: initial;
        margin: 0.5em 0;
        @include for-tablet-only() {
            margin: 1em 0 2em 0;
        }
    }

    &-slide img{
        width: 100%;
        @include for-tablet-only() {}
    }


    &-button-prev {
        display: none;
        @include for-tablet-only() {
            display: block;
            top: 60%;
        }
    }

    &-button-next {
        @extend .swiper-button-prev
    }
}


.card {
    background-color: $cor-branco;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 0.5em;
    @include for-tablet-only() {
            width: 50%;
            margin: 2em auto;
    }

    &__descricao {
        @include flex(space-between);
    }

    &__estrela {
        padding: 0.5em 0 0 0;
    }

    &__titulo {
        @include texto(16px,700,24px);
        color: $cor-laranja;
        padding: 0.5em 0 0 0;
    }

    &__tituloPrincipal {
        @include texto(18px,700,27px);
        color: $azul;
        padding: .5em 0;
    }

    &__texto {
        @include texto(14px,400,21px);
        color: $preto;
        padding: 0 .4em 0 0;
    }

    &__botoes {
        @include flex(space-between);

        &--lista {
            @include flex(space-between);

            &--item {
                padding: 0 1em;
            }
        }

        &--botao {
            @include texto(16px,700,24px);
            background-color: $cor-laranja;
            color: $cor-branco;
            padding: 1em 2.2em;
            margin: 2em 0 1em 0;
            text-decoration: none;
            position: initial;
        }
    }

}


.topicos {
    background: $azul-degrade;
    

    &__titulo {
        @include texto(16px,300,24px);
        color: $cor-branco;
        text-transform: uppercase;
        text-align: center;
        padding: 1em 0;
        @include for-tablet-only() {
            @include texto(24px,300,36px);
        }
    }

    &__lista {
        @include flex(center);
        flex-wrap: wrap;
        @include for-tablet-only() {
            width: 70%;
            margin: 0 auto;
        }

        &--item {
            margin: 2em .5em 3em .5em;
        }

        &--link {
            color: $cor-branco;
            text-decoration: none;
            background-color: $cor-laranja;
            padding: 1em;
            @include for-tablet-only() {
                @include texto(24px,700,36px);
            }
        }
    }
}


.contato {
    background-color: $cor-branco;
    padding: 1em;
    @include for-tablet-only() {
        @include flex(center);
    }

    &__descricao {
        @include for-tablet-only() {
            margin: 1em 0;
            width: 30%

        }
    }

    &__titulo {
        @include texto(18px,500,27px);
        color: $azul;
        @include for-tablet-only() {
            @include texto(24px,500,36px);
        }
    }

    &__texto {
        @include texto(16px,300,24px);
        color: $azul;
        @include for-tablet-only() {
            margin: 1em 0;
        }
    }

    &__cadastrar {
        @include texto(14px,400,21px);
        color: $azul;
        width:95%;
        padding: 0.8em 0 0.8em 0.8em;
        border: 1px solid $azul;
        border-radius: 30px;
        margin: 0.5em 0;
        @include for-tablet-only() {
            width: 30%;
            margin-left: 2em;
        }

        &::placeholder {
            @include texto(14px,400,21px);
            color: $azul;
            padding: 0 0 0 4em;
            text-align: left;
            background: url("../img/Vector.svg") no-repeat;
            background-position: 1.5em;
        }
    }
}

hr {
    margin: 0;
}

.rodape {
    padding: 1em;
    background-color: $cor-cinza-fundo-rodape;
    @include for-tablet-only() {
        @include flex(space-between);
    }

    &__titulo {
        @include texto(16px,400,24px);
        color: $preto;
        align-self: flex-start;
        @include for-tablet-only() {
            @include texto(24px,400,36px);
        }
    }

    &__coluna {
        display: none; 
        @include for-tablet-only() {
            @include flex(center);
            flex-direction: column;
            align-self: flex-start;
        }

        &--titulo {
            @include texto(14px,400,21px);
            color: $cinza;
            align-self: flex-start;
            text-transform: uppercase;
        } 

        &--lista {

            &--item {
                @include flex(none);
                padding: 0.5em 0;
                
                &--link {
                    @include texto(14px,400,21px);
                    margin-left: 0.6em;
                    color: $cinza-h4;
                    text-decoration: none;
                }
            }


        }


    }
}